# File extensions
*.a
*.exe
*.mod
*.o

# File extensions in specific subdirections
external/**/*.f
inc/**/*.inc
var/build/*.F
var/build/*.F90
var/build/*.c
var/build/*.f
var/build/*.f90
var/build/*.h
var/build/*.inc
var/build/*.int

# Specific files
Registry/Registry
Registry/Registry.rconfig
Registry/io_boilerplate_temporary.inc
configure.wrf
external/io_grib1/io_grib1.f90
external/io_grib_share/io_grib_share.f90
external/io_int/io_int_idx_tags.h
external/io_int/test_io_idx
frame/module_dm.F
frame/module_state_description.F
inc/dm_comm_cpp_flags
inc/wrf_io_flags.h
inc/wrf_status_codes.h
tools/fseeko64_test
tools/fseeko_test
tools/gen_comms.c
tools/registry
var/build/Makefile
var/build/README
var/build/Test1.out.correct
var/build/cray_csd.sed
var/build/da_generic_boilerplate.m4
var/build/decode_l2_airs.README
var/build/landread.c.dist
var/build/links
var/build/md_calls.m4
var/build/module_dm_warning
var/build/module_io_domain_defs.m4
var/build/no_file_line.sed
var/build/qual_threshold.nl
var/build/set_timekeeping_alarms.m4
var/build/set_timekeeping_defs.m4
var/build/standard.sed
var/build/testall.csh
var/build/time_window.nl
var/external/bufr/irev.f
var/external/bufr/wrdlen.f
